.list {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: space-evenly;
    width: 50%;    
    margin: auto;
    padding: 20px;
}

.search {
    margin-right: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    outline: none;
}

.sort{
    display: flex;
    
}

.searchForm {
    display: flex;
}
.searchForm button, .searchReset {
    font-size: medium;
    background: #f5ba13;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    cursor: pointer;
    outline: none;
}

.searchReset {
    margin-right: 10px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px;
    padding-right: 75px !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    box-shadow: 0 2px 5px #ccc;
    margin-right: 10px;
}