.createForm {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }

.createForm input,
.createForm textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.createForm button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  font-size: medium;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 7px;
  width: 76px;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
